huiali.grpc.client/bin/Debug/netcoreapp3.0/Google.Protobuf.dll
huiali.grpc.client/bin/Debug/netcoreapp3.0/Grpc.Core.Api.dll
huiali.grpc.client/bin/Debug/netcoreapp3.0/Grpc.Net.Client.dll
huiali.grpc.client/bin/Debug/netcoreapp3.0/Grpc.Net.Common.dll
huiali.grpc.client/bin/Debug/netcoreapp3.0/huiali.grpc.client.deps.json
huiali.grpc.client/bin/Debug/netcoreapp3.0/huiali.grpc.client.dll
huiali.grpc.client/bin/Debug/netcoreapp3.0/huiali.grpc.client.exe
huiali.grpc.client/bin/Debug/netcoreapp3.0/huiali.grpc.client.pdb
huiali.grpc.client/bin/Debug/netcoreapp3.0/huiali.grpc.client.runtimeconfig.dev.json
huiali.grpc.client/bin/Debug/netcoreapp3.0/huiali.grpc.client.runtimeconfig.json
huiali.grpc.client/bin/Debug/netcoreapp3.0/Microsoft.Extensions.Logging.Abstractions.dll
huiali.grpc.client/obj/huiali.grpc.client.csproj.nuget.cache
huiali.grpc.client/obj/huiali.grpc.client.csproj.nuget.dgspec.json
huiali.grpc.client/obj/huiali.grpc.client.csproj.nuget.g.props
huiali.grpc.client/obj/huiali.grpc.client.csproj.nuget.g.targets
huiali.grpc.client/obj/project.assets.json
huiali.grpc.client/obj/Debug/netcoreapp3.0/12fbc7ffe642ca7e_greet.protodep
huiali.grpc.client/obj/Debug/netcoreapp3.0/Greet.cs
huiali.grpc.client/obj/Debug/netcoreapp3.0/GreetGrpc.cs
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.AssemblyInfo.cs
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.AssemblyInfoInputs.cache
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.assets.cache
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.csproj.CopyComplete
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.csproj.FileListAbsolute.txt
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.csprojAssemblyReference.cache
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.dll
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.exe
huiali.grpc.client/obj/Debug/netcoreapp3.0/huiali.grpc.client.pdb
huiali.grpc.server/bin/Debug/netcoreapp3.0/appsettings.Development.json
huiali.grpc.server/bin/Debug/netcoreapp3.0/appsettings.json
huiali.grpc.server/bin/Debug/netcoreapp3.0/Google.Protobuf.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/Grpc.AspNetCore.Server.ClientFactory.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/Grpc.AspNetCore.Server.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/Grpc.Core.Api.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/Grpc.Net.Client.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/Grpc.Net.ClientFactory.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/Grpc.Net.Common.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/huiali.grpc.server.deps.json
huiali.grpc.server/bin/Debug/netcoreapp3.0/huiali.grpc.server.dll
huiali.grpc.server/bin/Debug/netcoreapp3.0/huiali.grpc.server.exe
huiali.grpc.server/bin/Debug/netcoreapp3.0/huiali.grpc.server.pdb
huiali.grpc.server/bin/Debug/netcoreapp3.0/huiali.grpc.server.runtimeconfig.dev.json
huiali.grpc.server/bin/Debug/netcoreapp3.0/huiali.grpc.server.runtimeconfig.json
huiali.grpc.server/bin/Debug/netcoreapp3.0/Properties/launchSettings.json
huiali.grpc.server/obj/huiali.grpc.server.csproj.nuget.cache
huiali.grpc.server/obj/huiali.grpc.server.csproj.nuget.dgspec.json
huiali.grpc.server/obj/huiali.grpc.server.csproj.nuget.g.props
huiali.grpc.server/obj/huiali.grpc.server.csproj.nuget.g.targets
huiali.grpc.server/obj/project.assets.json
huiali.grpc.server/obj/Debug/netcoreapp3.0/12fbc7ffe642ca7e_greet.protodep
huiali.grpc.server/obj/Debug/netcoreapp3.0/Greet.cs
huiali.grpc.server/obj/Debug/netcoreapp3.0/GreetGrpc.cs
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.AssemblyInfo.cs
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.AssemblyInfoInputs.cache
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.assets.cache
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.csproj.CopyComplete
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.csproj.FileListAbsolute.txt
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.csprojAssemblyReference.cache
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.dll
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.exe
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.MvcApplicationPartsAssemblyInfo.cache
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.pdb
huiali.grpc.server/obj/Debug/netcoreapp3.0/huiali.grpc.server.RazorTargetAssemblyInfo.cache
huiali.grpc.server/obj/Debug/netcoreapp3.0/project.razor.json
huiali.grpc.server/obj/Debug/netcoreapp3.0/staticwebassets/huiali.grpc.server.StaticWebAssets.Manifest.cache
huiali.grpc.server/obj/Debug/netcoreapp3.0/staticwebassets/huiali.grpc.server.StaticWebAssets.xml
